.modal-content {
  display: flex;
  padding: 10px 0;

  &__image {
    margin-right: 20px;
  }

  td {
    line-height: 1.2;
  }

  & td:first-child {
    font-weight: bold;
    padding-right: 40px;
  }
}
