.settings {
  $firstCellWidth: 200px;
  $fontSize: 1.5rem;

  &__back-link {
    width: $firstCellWidth;
  }

  &__title {
    font-size: $fontSize;
    margin-left: 20px;
    font-weight: bold;
  }

  &__row {
    display: flex;
    margin-top: 20px;
    align-items: center;

    &:nth-child(2) {
      margin-top: 70px;
    }
  }

  &__row-title {
    font-size: $fontSize;
    min-width: $firstCellWidth;
  }

  &__dropdown,
  &__dropdown * {
    font-size: $fontSize;
  }
}
